!.gitignore

# Windows shortcuts
*.lnk
*.lnk.meta
GameOff/Packages/manifest.json
GameOff\Packages\manifest.json
GameOff/Logs/Packages-Updates.log
GameOff\Logs\Packages-Updates.log
GameOff/Logs/Packages-Update.log
GameOff\Logs\Packages-Update.log
